<!DOCTYPE html>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<link rel="icon" href="static/img/icon.gif">
<title>Oh, the Places You'll Go!</title>

<style>

@import url(http://fonts.googleapis.com/css?family=PT+Serif|PT+Serif:b|PT+Serif:i);

section {
  background: #DBEEF4;
  color: #383838;
  padding: 2em;
  font-family: "PT Serif", Baskerville, Georgia;
}

#follow {
  background: none;
}

.grey {
  color: #777;
}

a:link,
a:visited {
  color: orange;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

</style>


<section style="text-align:center;padding:.2em;font-size:1000%;">
  <img src="static/img/slideshow/Slide1.JPG" height="100%" />
</section>

<section style="text-align:center;padding:.2em;font-size:1000%;">
  <img src="static/img/slideshow/Slide2.JPG" height="100%" />
</section>

<section style="text-align:center;padding:.2em;font-size:1000%;">
  <img src="static/img/slideshow/Slide3.JPG" height="100%" />
</section>

<section style="text-align:center;padding:.2em;font-size:1000%;">
  <img src="static/img/slideshow/Slide4.JPG" height="100%" />
</section>

<section style="text-align:center;padding:.2em;font-size:1000%;">
  <img src="static/img/slideshow/Slide5.JPG" height="100%" />
</section>

<section style="text-align:center;padding:.2em;font-size:1000%;">
  <img src="static/img/slideshow/Slide6.JPG" height="100%" />
</section>

<section style="text-align:center;padding:.2em;font-size:1000%;">
  <img src="static/img/slideshow/Slide7.JPG" height="100%" />
</section>

<section style="text-align:center;padding:.2em;font-size:1000%;">
  <img src="static/img/slideshow/Slide8.JPG" height="100%" />
</section>

<section style="text-align:center;padding:.2em;font-size:1000%;">
  <img src="static/img/slideshow/Slide9.JPG" height="100%" />
</section>

<section style="text-align:center;padding:.2em;font-size:1000%;">
  <img src="static/img/slideshow/Slide10.JPG" height="100%" />
</section>

<section style="text-align:center;padding:.2em;font-size:1000%;">
  <img src="static/img/slideshow/Slide11.JPG" height="100%" />
</section>

<section style="text-align:center;padding:.2em;font-size:1000%;">
  <img src="static/img/slideshow/Slide12.JPG" height="100%" />
</section>

<section style="text-align:center;padding:.2em;font-size:1000%;">
  <img src="static/img/slideshow/Slide13.JPG" height="100%" />
</section>

<section style="text-align:center;padding:.2em;font-size:1000%;">
  <img src="static/img/slideshow/Slide14.JPG" height="100%" />
</section>

<section style="text-align:center;padding:.2em;font-size:1000%;">
  <img src="static/img/slideshow/Slide15.JPG" height="100%" />
</section>

<section style="text-align:center;padding:.2em;font-size:1000%;">
  <img src="static/img/slideshow/Slide16.JPG" height="100%" />
</section>

<section style="padding:5em 13em;">
  <a href="/landing"><img id='logo' src="static/img/logo.png" alt="Oh logo"></a>
  <br>back to <a href="/landing">Oh!Go!</a>
</section>

<!-- Stack by Mike Bostock found https://github.com/mbostock/stack -->

<script src="static/js/slides/d3.v3.min.js"></script>
<script src="static/js/slides/stack.v1.min.js"></script>
<script>

var mystack = stack()
    .on("activate", activate)
    .on("deactivate", deactivate);

var section = d3.selectAll("section"),
    follow = d3.select("#follow"),
    followAnchor = d3.select("#follow-anchor"),
    lorenz = d3.select("#lorenz"),
    followIndex = section[0].indexOf(follow.node()),
    lorenzIndex = section[0].indexOf(lorenz.node());

function refollow() {
  followAnchor.style("top", (followIndex + (1 - mystack.scrollRatio()) / 2 - d3.event.offset) * 100 + "%");
}

function activate(d, i) {
  if (i === followIndex) mystack.on("scroll.follow", refollow);
  if (i === lorenzIndex) startLorenz();
}

function deactivate(d, i) {
  if (i === followIndex) mystack.on("scroll.follow", null);
  if (i === lorenzIndex) stopLorenz();
}

</script>
